!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Рекламные билеты в маршрутных такси Чебоксары'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tickets'}"}
    %meta{:name => "keywords", :content => "#{content_for?(:keywords) ? yield(:keywords) : 'билеты'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .gradient1
    %main{:role => "main"}
      - if user_signed_in?
        .admin-red-button
          = link_to "настройки", edit_setting_path(1)
      = yield
    %footer
      .container
        .content
          .row
            .span4
            .span4
              - if @set.vkgroup.present?
                = @set.vkgroup
            .span4
              - if @set.fbgroup.present?
                = @set.fbgroup
    - if @set.metrika.present?
      = @set.metrika
    - if @set.google.present?
      = @set.google